body {
    background-color: rgb(208, 208, 224);
}

header {
    background-color: #fff;
    border-bottom: 1px solid #EEE;
}

footer {
    background: rgb(208,208,224);
    background: linear-gradient(360deg, rgba(208,208,224,1) 0%, rgba(255,255,255,1) 100%); 
    border-top: 1px solid #EEE;
    color: black;
}
footer p {
    color: black;
}


.header-menu {
	display: flex;
	flex-wrap: wrap;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left:10px;
	padding-right:10px;
}

.header-menu .logo {
	 flex: 15%;
	 order: 1;
	 padding-right: 25px;
     margin-top: -5px;
}

.header-menu .arama {
	flex: 70%;
	padding-right: 25px;
	order: 2;
	padding-left: 25px;
}

.header-menu .arama button {
	border-radius: 0px 0.375rem 0.375rem 0px;
}

.header-menu .uye {
	  flex: 15%;
	 text-align: right;
	 order: 3;
}
 
@media (min-width: 1200px) and (max-width: 1500px) {


.header-menu .arama {
	flex: 60%;
	padding-right: 25px;
	text-align: center;
	padding-left: 25px;
}


}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header-menu .arama {
        flex: 50%;
        padding-right:10px;
        text-align: center;
    }
}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991.98px) {
    .header-menu .logo {
          flex: 15%;
         text-align: left;
         order: 1;
    }
    
    .header-menu .arama {
        flex: 100%;
        padding-right:0px;
        text-align: center;
        order: 3;
        margin-top:15px
    }
    
    .header-menu .uye {
          flex: 15%;
         text-align: right;
         order: 2;
    }
}    


/* small mobile :320px. */
@media (min-width: 320px) and (max-width: 767.98px) {

    .header-menu .logo {
          flex: 15%;
         order: 1;
    }
    
    .header-menu .arama {
        flex: 100%;
        padding-right:0px;
        text-align: center;
        order: 3;
        margin-top:15px
    }
    
    .header-menu .uye {
          flex: 15%;
         text-align: right;
         order: 2;
    }

} 

.login form {
    background: rgb(240, 240, 240);
    padding: 50px;
    border-radius: 10px;
}
.login h3 {
    text-align: center;
     margin-bottom: 15px;
  }

.register form {
    background: rgb(240, 240, 240);
    padding: 50px;
    border-radius: 10px;
}

.register h3 {
    text-align: center;
    margin-bottom: 15px;
 }



